.tituloPerfil {
  display: inline-block;

  padding: 10px;
  margin: 10px 0;

  background-color: #0097cc;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  font-size: 3rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 50%;
  border: 5px solid var(--laranja);
  border-radius: var(--border-radius);
  margin: 2.5% auto;

  background-color: var(--azul);
}

.info_imagem {
  display: flex;
  flex-direction: column;
  width: 30%;
  width: 290px;
}

.info_imagem img {
  border-radius: var(--border-radius);
  max-width: 300px;
  max-height: 300px;
}

.info_dados {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: var(--border-radius);
  font-size: 40px;
  padding: 30px;
  padding-right: 0;
}

.info_dados input {
  width: 100%;
}

#btnSalvar {
  display: inline-block;
  width: 70%;
  margin-bottom: 10px;
}

.file_mentor {
  border: 2.5px solid var(--laranja);
}

@media screen and (max-width: 1400px) {
  #btnSalvar {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .info {
    flex-direction: column;
  }

  .info_dados {
    width: 100%;
    padding-right: 30px;
  }

  .info_imagem {
    margin-top: 5%;
  }
}

@media screen and (max-width: 500px) {
  .tituloPerfil {
    display: block;
    border-radius: var(--border-radius);
    width: 80%;
    margin: 10px auto;
    text-align: center;
  }

  .info {
    width: 80%;
  }
}
