.popLogin {
  display: none;
  opacity: 0;
  flex-direction: column;
  overflow: hidden;

  width: 15vw;
  padding: 10px;
  border-radius: calc(var(--border-radius) / 2);
  box-shadow: var(--box-shadow);

  background-color: var(--azul);
  border: var(--azul-border) solid 2.5px;
  user-select: none;

  position: absolute;
  right: 0.5%;
  top: 10%;

  animation: aparece .5s;
}

.popLogin > .alt_cont {
  font-size: 1rem;
  margin-bottom: 10px;
}

.link_popLogin {
  font-size: 1rem;
  margin: 5px 0;
  display: block;
}

form > .btn_logout {
  font-family: var(--font-primaria);
  color: var(--laranja);

  background-color: var(--branco);

  border-radius: var(--border-radius);
  border: none;
  margin-bottom: 5px;
}

form > .btn_logout:hover {
  font-family: var(--font-primaria);
  color: var(--laranja);

  background-color: var(--cinza);

  border-radius: var(--border-radius);
  border: none;
  margin-bottom: 5px;
}

@keyframes aparece {
  0%{
    opacity: 0;
  }

  50%{
    opacity: .5;
  }

  100%{
    opacity: 1;
  }
}
