.popLogin {
  display: none;
  flex-direction: column;

  width: 15vw;
  padding: 10px;
  border-radius: calc(var(--border-radius) / 2);
  box-shadow: var(--box-shadow);

  background-color: var(--azul);
  border: var(--azul-border) solid 2.5px;
  user-select: none;

  position: absolute;
  right: 0.5%;
  top: 8%;

  transition-property: opacity;
  transition-duration: 0.2s;
}

.popLogin > input[type="submit"] {
  font-size: 1rem;
  margin: 0;
}

.link_popLogin {
  font-size: 1rem;
  margin: 5px 0;
  display: block;
}

form > .btn_logout {
  font-family: var(--font-primaria);
  color: var(--laranja);

  background-color: var(--branco);

  border-radius: var(--border-radius);
  border: none;
  margin-bottom: 5px;
}

form > .btn_logout:hover {
  font-family: var(--font-primaria);
  color: var(--laranja);

  background-color: var(--cinza);

  border-radius: var(--border-radius);
  border: none;
  margin-bottom: 5px;
}

.visible {
  display: flex;
}
