@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap"); /* Fonte principal */
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Madimi+One&display=swap"); /*Fonte secundária*/
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Madimi+One&display=swap"); /*Fonte terciaria*/

.capa {
  width: 100%;
  height: 100%;
}

.foto {
  width: 100%;
}
.areamentor {
  /*Header Area Mentor*/
  padding: 10px 20px;
  background-color: #0097cc;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 5px solid var(--laranja);
  border-bottom: 5px solid var(--laranja);
}

.areaMentorTitulo {
  /*Titulo em Branco, Area do*/
  color: white;
  font-family: "Kodchasan", sans-serif;
  font-size: 50px;
}

.areaMentorTituloLaranja {
  /*Titulo em laranja, Mentor*/
  padding: 10px;
  color: orange;
  font-family: "Kodchasan", sans-serif;
  font-size: 50px;
}

.linha {
  /*Linha separando*/
  background-color: #fa5f18;
  width: 100%;
  height: 5px;
}
/*Contém todas as atividades*/
.atividades {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}

/*Adicionar Atividade, imagem*/
.addatividade {
  width: 95%;
}

.addatividade:hover {
  width: 100%;
  transition: 0.3s;
}
/*Verificar progresso*/
.progresso {
  width: 95%;
}

.progresso:hover {
  width: 100%;
  transition: 0.5s;
}

/*Adicionar Aluno*/
.naluno {
  width: 95%;
}

.naluno:hover {
  width: 100%;
  transition: 0.5s;
}

/*Ver guia*/
.btnguia {
  width: 95%;
}

.btnguia:hover {
  width: 100%;
  transition: 0.3s;
}

/*Ver progresso aluno*/
.controle {
  width: 95%;
}
.controle:hover {
  width: 100%;
  transition: 0.5s;
}

/*Botão de ajuda*/
.interrogação {
  height: 50px;
}

.retanguloazul {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 10px;
  margin-top: 30px;
  background-color: #0097cc;
}

.alunoscad {
  padding: 10px;
  background-color: #fa5f18;
  width: 299px;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-family: "Kodchasan", sans-serif;
}

.alunoscad:hover {
  padding: 15px;
  background-color: #ffffff;
  width: 299px;
  border-radius: 5px;
  font-size: 25px;
  transition: 0.3s;
  color: #fa5f18;
  text-decoration: none;
  font-family: "Kodchasan", sans-serif;
}

@media all and (max-width: 500px) {
  .capa {
    width: 100%;
    height: 100%;
  }

  .foto {
    width: 100%;
  }
  .areamentor {
    /*Header Area Mentor*/
    padding: 10px 20px;
    background-color: #0097cc;
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
    border-top: 5px solid var(--laranja);
    border-bottom: 5px solid var(--laranja);
  }

  .areaMentorTitulo {
    /*Titulo em Branco, Area do*/
    color: white;
    font-family: "Kodchasan", sans-serif;
    font-size: 35px;
    margin-top: 1px;
  }

  .areaMentorTituloLaranja {
    /*Titulo em laranja, Mentor*/
    padding: 10px;
    color: orange;
    font-family: "Kodchasan", sans-serif;
    font-size: 35px;
    margin-left: -10px;
  }

  .linha {
    /*Linha separando*/
    background-color: #fa5f18;
    width: 100%;
    height: 5px;
  }

  /*Botão de ajuda*/
  .interrogação {
    height: 30px;
  }

  .retanguloazul {
    background-color: #0097cc;
    padding: 1px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .alunoscad {
    padding: 10px;
    background-color: #fa5f18;
    width: 259px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: "Kodchasan", sans-serif;
  }
}
