.fundo {
  background-color: #0097cc;
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

.containerimagem {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.imagem {
  width: 90%;
  height: 30%;
  border-radius: 8px;
  border: solid 2px #fa5f18;
  margin-top: 5%;
  margin-left: 5%;
}

.bntadd {
  background-color: #fa5f18;
  width: 80%;
  margin-top: 5%;
  color: white;
  margin-left: 10%;
  font-size: 25px;
  border: solid 0px;
  padding: 7px;
  font-family: "Gabarito", sans-serif;
  margin-bottom: 5%;
}

.containertexto {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.titulotext {
  margin-top: 5%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 3%;
  border-radius: 25px;
  border: solid 2px #fa5f18;
  font-family: "Gabarito", sans-serif;
}

.obs {
  color: white;
  font-family: "Gabarito", sans-serif;
  margin-left: 3%;
  font-size: 15px;
  margin-top: 5%;
}
.obsadd {
  color: rgb(0, 0, 0);
  font-family: "Gabarito", sans-serif;
  margin-top: 6.5%;
  font-size: 15px;
  height: 300px;
  margin-left: 1%;
  border-radius: 5px;
  border: solid 2px #fa5f18;
  background-color: #c1e5f5;
}
.containeradicional {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pontos {
  margin-top: 5%;
  margin-left: 5%;
  width: 400px;
  height: 70px;
  border: solid 2px #fa5f18;
  margin-left: 50px;
}

.audio {
  margin-top: 5%;
  margin-left: 10%;
  color: white;
  font-family: "Gabarito", sans-serif;
}
.audio1 {
  margin-top: 5%;
  margin-left: 5%;
  width: 300px;
  height: 70px;
  margin-left: 50px;
}
