.form_atividade {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 80%;
  margin: auto;
  margin-top: 2%;
  padding: 10px;

  background-color: #0097cc;
  border-radius: var(--border-radius);
}

.containerimagem {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.imagem {
  width: 100%;
  height: 55%;
  border-radius: 8px;
  border: solid 2px #fa5f18;
}

.form_atividade .bntadd {
  width: 90%;
  margin-top: 10px;
  padding: 7px;
}

.containertexto {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.titulotext {
  font-size: 20px;
  width: 90%;
  padding: 10px;
  border: solid 2px #fa5f18;
  font-family: "Gabarito", sans-serif;
}

.obs {
  color: white;
  font-family: "Gabarito", sans-serif;
  margin-left: 3%;
  font-size: 15px;
  margin-top: 5%;
}
.obsadd {
  font-family: "Gabarito", sans-serif;
  font-size: 15px;
  width: 90%;
  height: 200px;
  border-radius: 5px;
  border: solid 2px #fa5f18;
  background-color: #c1e5f5;
}
.containeradicional {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pontos {
  width: 90%;
  height: 70px;
  border: solid 2px #fa5f18;
}

.file {
  padding: 20px 10px;
  background-color: var(--branco);
  color: black;
  text-transform: uppercase;
  text-align: center;
  display: block;
  cursor: pointer;
}

.ids {
  display: flex;
  flex-direction: wrap;
}

.fonemasarea {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10%;
}

.fonemasarea h1 {
  margin-right: 10px;
}

.fonema {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1000px) {
  .form_atividade {
    flex-direction: column;
    gap: 20px;
  }

  .containerimagem {
    width: 80%;
  }

  .containertexto {
    width: 80%;
  }

  .containeradicional {
    width: 80%;
  }
}
