@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Madimi+One&display=swap");
@import url("./cadastro.css");
@import url("./login.css");
@import url("./dialog.css");
@import url("./guia.css");
@import url("./header.css");
@import url("./mentorArea.css");
@import url("./atividades.css");
@import url("./styleadd.css");
@import url("./ajuda.css");
@import url("./esqSenha.css");
@import url("./guiaForm.css");
@import url("./editmentor.css");
@import url("./Sobrenos.css");

:root {
  --laranja: #fa5f18;
  --laranja-escuro: #d45115;
  --azul-claro: #c1e5f5;
  --azul: #0097cc;
  --azul-border: #004b67;
  --branco: #ffff;
  --cinza: #c2c2c2;

  --font-primaria: "Madimi One", sans-serif;
  --font-secundaria: "Kodchasan", sans-serif;

  --border-radius: 5px;
  --box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Gerais */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;

  font-family: var(--font-primaria);
  background-color: var(--azul-claro);
  color: var(--branco);
}

input[type="submit"],
input[type="button"],
.alt_cont {
  font-family: var(--font-primaria);
  font-size: 2rem;
  color: var(--branco);

  background-color: var(--laranja);

  border-radius: var(--border-radius);
  border: none;
  margin: 0;
}

input[type="submit"]:hover,
input[type="button"]:hover,
.alt_cont:hover {
  color: var(--branco);

  background-color: var(--laranja-escuro);
}

input,
select {
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
}

hr {
  margin: 10px 0;
}

/* Main */

.main-login {
  width: 98vw;
  height: 90vh;
  padding: 20px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "imagem login";
  gap: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--azul);
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ddd;
  border-top-color: var(--laranja);
  border-radius: 50%;
  animation: spin 0.75s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
